@import '/src/assets/custom';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  h1.main-phrase {
    width: 320px;
    height: 300px;
    margin: auto 0;
    font-family: 'Rock Salt', cursive;
    letter-spacing: 1px;
    line-height: 2.2em;
    span.cursor {
      display: inline-block;
      background-color: $light-brown;
      margin-left: 0.5rem;
      width: 3px;
      animation: blink 1s infinite;
      line-height: 1.5em;
      &.typing {
        animation: none;
      }
    }
  }
}




@keyframes blink {
  0%  { background-color: $light-brown; }
  49% { background-color: $light-brown; }
  50% { background-color: transparent; }
  99% { background-color: transparent; }
  100%  { background-color: $light-brown; }
}